@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Simple browser reset */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}

body{
    font-family: 'Mulish', sans-serif;
    color: #fff !important;
    background: #0F5257 !important;
    text-align: center;
}

.navlinks{
    background-color: #58C3FF;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input.searchBox[type=text] {
    width: 900px;
    margin: auto;
    padding: 10px;
    padding-left: 25px;
    border-radius: 100px;
    border: none;
    resize: horizontal;
}

nav.navlinks ul {
    margin: 0;
    padding: 0;
}

nav.navlinks li#login{
    font-weight: 600;
    font-size: 1.2em;
    list-style: none;
}

.loginreg:link {
    color: #ffffff;
    text-decoration: none;
}

.loginreg:visited {
    color: #ffffff;
    text-decoration: none;
}

.loginreg:hover {
    color: #9C92A3;
    text-decoration: none;
}

.loginreg:active {
    color: #ffffff;
    text-decoration: none;
}