@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* Simple browser reset */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}

body{
    font-family: 'Koulen', cursive;
    color: #fff !important;
    background: #0F5257 !important;
    text-align: center;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.main-content {
    flex-grow: 2;
}

.navlinks{
    background-color: #58C3FF;
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#subButton {
    position: absolute;
    border: none;
    background-color: #ffffff00;
    color: #b9b9b9;
    margin-left: -9.5em;
    margin-top: .9em;
}

.logo {
    font-family: 'Koulen', cursive;
    margin-top: .4rem;
}

input.searchBox[type=text] {
    width: 900px;
    margin: auto;
    margin-top: .4em;
    margin-right: 7em;
    padding: 10px;
    padding-left: 25px;
    border-radius: 100px;
    border: none;
    resize: horizontal;
}

nav.navlinks ul {
    font-family: 'Koulen', cursive;
    margin: 0;
    padding: 0;
}

nav.navlinks li#login{
    margin-top: .6em;
    font-size: auto;
    list-style: none;
}

.loginreg:link {
    color: #ffffff;
    text-decoration: none;
}

.loginreg:visited {
    color: #ffffff;
    text-decoration: none;
}

.loginreg:hover {
    color: #9C92A3;
    text-decoration: none;
}

.loginreg:active {
    color: #ffffff;
    text-decoration: none;
}

.logoLink:link {
    color: #ffffff;
    text-decoration: none;
}

.logoLink:visited {
    color: #ffffff;
    text-decoration: none;
}

.logoLink:hover {
    color: #9C92A3;
    text-decoration: none;
}

.logoLink:active {
    color: #ffffff;
    text-decoration: none;
}

footer.footer-bg {
    font-family: 'Koulen', cursive;
    width: 100%;
    padding: 1em;
    padding-bottom: .5em;
    background-color: #C6B9CD ;
    text-align: center;
}

div.hero-conatiner {
    width: 100%;
    padding-bottom: 2.5em;
    background-color: #0B3142;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5em;
    box-shadow: inset 0 0 10px #091b24;
    border-radius: 0 0 1% 1%;
}

img.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.extra-text {
    font-family: 'Koulen', cursive;
    text-align: center;
    margin: 5em auto 5em auto;
    padding-left: 10%;
    padding-right: 10%;
}

nav.mobileNav {
    display: none;
    background-color: #58C3FF;
    width: 100%;
    padding: 1.5em;
    flex-direction: row;
    justify-content: space-between;
}

div#mobileLinks {
    display: none;
    font-family: 'Koulen', cursive;
    text-align: right;
    padding: 5%;
    background-color: #C6B9CD;
}

div#desktopLinks {
    display: none;
    font-family: 'Koulen', cursive;
    text-align: left;
    padding: 2%;
    background-color: #C6B9CD
}

nav.mobileNav a.icon {
    color: white;
    text-decoration: none;
    font-size: 180%;
}

nav.navlinks a.icon {
    color: white;
    text-decoration: none;
    margin-top: .1%;
    font-size: 230%;
}
.mobileLink:link {
    color: #ffffff;
    text-decoration: none;
}

.mobileLink:visited {
    color: #ffffff;
    text-decoration: none;
}

.mobileLink:hover {
    color: #9C92A3;
    text-decoration: none;
}

.mobileLink:active {
    color: #ffffff;
    text-decoration: none;
}
.deskLink:link {
    color: #ffffff;
    text-decoration: none;
}

.deskLink:visited {
    color: #ffffff;
    text-decoration: none;
}

.deskLink:hover {
    color: #9C92A3;
    text-decoration: none;
}

.deskLink:active {
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    background-color: lightgrey;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

.component {
    margin-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 1920px) {
    input.searchBox[type=text] {
        width: 900px;
    }
}
@media screen and (max-width: 1800px) {
    input.searchBox[type=text] {
        width: 875px;
    }
}
@media screen and (max-width: 1700px) {
    input.searchBox[type=text] {
        width: 850px;
    }
}
@media screen and (max-width: 1600px) {
    input.searchBox[type=text] {
        width: 825px;
    }
}
@media screen and (max-width: 1500px) {
    input.searchBox[type=text] {
        width: 800px;
    }
}
@media screen and (max-width: 1450px) {
    input.searchBox[type=text] {
        width: 775px;
    }
}
@media screen and (max-width: 1400px) {
    input.searchBox[type=text] {
        width: 750px;
    }
}
@media screen and (max-width: 1350px) {
    input.searchBox[type=text] {
        width: 725px;
    }
}
@media screen and (max-width: 1300px) {
    input.searchBox[type=text] {
        width: 700px;
    }
}
@media screen and (max-width: 1250px) {
    input.searchBox[type=text] {
        width: 675px;
    }
}
@media screen and (max-width: 1100px) {
    input.searchBox[type=text] {
        width: 650px;
    }
}
@media screen and (max-width: 1075px) {
    input.searchBox[type=text] {
        width: 625px;
    }
}
@media screen and (max-width: 1075px) {
    input.searchBox[type=text] {
        width: 600px;
    }
}
@media screen and (max-width: 1050px) {
    input.searchBox[type=text] {
        width: 575px;
    }
}
@media screen and (max-width: 1025px) {
    input.searchBox[type=text] {
        width: 550px;
    }
}
@media screen and (max-width: 1000px) {
    input.searchBox[type=text] {
        width: 500px;
    }
}
@media screen and (max-width: 975px) {
    input.searchBox[type=text] {
        width: 475px;
    }
}
@media screen and (max-width: 950px) {
    input.searchBox[type=text] {
        width: 450px;
    }
}
@media screen and (max-width: 925px) {
    input.searchBox[type=text] {
        width: 425px;
    }
}
@media screen and (max-width: 900px) {
    input.searchBox[type=text] {
        width: 400px;
    }
}
@media screen and (max-width: 875px) {
    input.searchBox[type=text] {
        width: 375px;
    }
}
@media screen and (max-width: 850px) {
    input.searchBox[type=text] {
        width: 350px;
    }
}
@media screen and (max-width: 825px) {
    input.searchBox[type=text] {
        width: 325px;
    }
}
@media screen and (max-width: 800px) {
    input.searchBox[type=text] {
        width: 300px;
    }
}
@media screen and (max-width: 750px) {
    input.searchBox[type=text] {
        display: none;
    }
    nav.navlinks{
        display: none;
    }
    nav.mobileNav {
        display: flex;
    }
}