.loginWrapper {
    background-color: #0b3142;
    width: 50em;
    margin: auto;
    height: 40em;
    border-radius: 50px;
    padding: 3%;
    margin-top: 5em;
    margin-bottom: 5em;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.loginTitle {
    font-family: "Koulen", cursive;
    font-size: 5em;
    margin-bottom: 0.5em;
    margin-top: -0.3em;
}

input.loginEmail[type="text"] {
    width: 530px;
    border: none;
    padding: 10px;
    border-radius: 100px;
}

input.loginPassword[type="password"] {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 530px;
    border: none;
    padding: 10px;
    border-radius: 100px;
}
input.loginExpiry[type="checkbox"] {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

p.checkP {
    font-family: "Koulen", cursive;
    font-size: 2em;
    align-self: flex-start;
    padding-left: 2.5em;
    padding-bottom: .5em;
}

button#loginSubmit {
    font-family: "Koulen", cursive;
    font-size: 1.5em;
    display: flex;
    margin: auto;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 1.5em;
    transition: 0.s;
}

button#loginSubmit:hover {
    background-color: #afafaf;
}

.register {
    font-family: "Koulen", cursive;
    font-size: 1.2em;
    color: #9b9b9b;
    text-decoration: none;
}

p.error {
    color: red;
    margin-top: -1em;
}
