/* Styles for movie wrapper */
.movieWrapper {
    display: flex;
    flex-direction: column;
    padding: 3em;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.movieWrapper h1.movieTitle {
    align-self: center;
    font-family: 'Koulen', cursive;
    font-size: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
}
.movieWrapper div.movieInfoTable {
    align-self: center;
}

/* Styles for movie container */
.movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

/* Styles for genre list */
.genreList {
    margin-left: 1em;
}
ul.genreList li {
    margin-left: -1em;
}

/* Styles for movie title */
b.titler {
    font-size: 1.3em;
    font-family: 'Koulen', cursive;
}

.movieInforTable {
    margin-top: 0;
}

/* Styles for movie genres */
.genre {
    margin-bottom: -10em;
}

/* Styles for movie poster */
.poster {
    border-radius: 20px;
    align-self: center;
    margin-top: 2em;
}

/* Styles for text container */
div.textContainer {
    margin-right: 2em;
    max-width: 25%;
    display:flex;
    flex-direction: column;
    padding-top: 2em;
}

/* Styles for movie plot */
div.plot {
    background-color: #0B3142;
    border-radius: 20px;
    padding: 1.5em;
    margin-bottom: 1em;
}

/* Styles for main text */
div.mainText {
    background-color: #0B3142;
    border-radius: 20px;
    padding: 1.5em;
    margin-bottom: 1em;
}

/* Styles for critic variables */
div.criticVariable {
    background-color: #0B3142;
    border-radius: 20px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
}

/* Styles for different badges */
div.badge0, div.badge1, div.badge2, div.badge3, div.badge4 {
    text-align: center;
    width: 15%;
    font-size: 1.5em;
    border-radius: 20px;
}

div.badge0 {
    background-color: rgb(73, 73, 73);
}
div.badge1 {
    background-color: rgb(151, 24, 24);
}
div.badge2 {
    background-color: rgb(151, 151, 24);
}
div.badge3 {
    background-color: rgb(26, 148, 73);
}
div.badge4 {
    background-color: #d6a212;
}