.registerWrapper {
    background-color: #0B3142;
    width: 50em;
    margin: auto;
    height: 40em;
    border-radius: 50px;
    padding: 3%;
    margin-top: 5em;
    margin-bottom: 5em;
}

.registerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.loginTitle {
    font-family: 'Koulen', cursive;
    font-size: 5em;
    margin-bottom: .5em;
}

input.registerEmail[type=text] {
    width: 530px;
    border: none;
    padding: 10px;
    border-radius: 100px;
}

input.registerPassword[type=password] {
    margin-top: 3em;
    width: 530px;
    border: none;
    padding: 10px;
    border-radius: 100px;
}

input.registerConfPassword[type=password] {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 530px;
    border: none;
    padding: 10px;
    border-radius: 100px;
}

#registerSubmit {
    font-family: 'Koulen', cursive;
    font-size: 1.5em;
    display:flex;
    margin: auto;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 1.5em;
    transition: 0.1s;
}

button#registerSubmit:hover {
    background-color: #afafaf;
}

.login {
    font-family: 'Koulen', cursive;
    font-size: 1.2em;
    color: #9b9b9b;
    text-decoration: none; 
}

p.inputError {
    color: red;
    float: right;
    margin-right: 6em;
    margin-bottom: -2em;
    margin-top: .5em;
}

p.formError {
    position: absolute;
    color: red;
    margin-top: .5em;
    margin-bottom: -2em;
    margin-top: -1.8em;
    margin-left: 12em;
}

p.inputErrorPass {
    color: red;
    float: right;
    margin-right: 6em;
    margin-bottom: -2em;
    margin-top: -2.5em;
}